@charset "UTF-8";
@import '../../../common/css/util/variable';
@import '../../../common/css/util/_mixin';
@import '_icon';

$topMenuHeight: 100px;
.topMenu{
  background: #034da2;
  color: #fff;
}

.topMenu-content{
  margin: auto;
  width: $gContainerWith;
  @include childrenVA(top);
}

.topMenu-content-logo{
  @include childrenVA;
  .title{
    font-size: 30px;
  }
}

.topMenu-content-menu{
  margin-left: 100px;
  list-style: none;
  vertical-align: bottom;
  text-align: center;
  font-size: 16px;
  @include childrenVA(top);
  .item{
    display: inline-block;
    width: 115px;
    @include height(90px);
    padding-top: 6px;
    .subItem{
      list-style: none;
      padding: 10px 0;
      @include mask(-1, #00397a, 0.8);
      display: none;
      li{
        @include height(46px);
        font-size: 14px;
        &:hover{
          color: #ffab09;
        }
      }
    }
    &:hover{
      background: #00397a;
      cursor: pointer;
      @include mask(-1, #00397a, 0.8);
      .subItem{
        display: block;
      }
    }
  }
}
.topMenu-content-login{
  @include height(90px);
  vertical-align: bottom;
  float: right;
  margin-top: 8px;
  i{
    position: relative;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 7px;
    line-height: 14px;
  }
}
.topMenu-content-login-num{
  position: absolute;
  right: -7px;
  top: -4px;
  @include square(14px);
  border-radius: 4px;
  background-color: #ffab09;
  font-size: 12px;
  text-align: left;
  padding-left: 2px;
  padding-bottom: 1px;
}
