@charset "UTF-8";
@import './util/variable';
@import './util/_mixin';
@import './lib/_normalize';
@import '_reset';
@import '_icon';
@import './widget/m-topMenu';
@import './widget/m-article';

body{
  background-color: #f6f6f6;
}

/*外层容器*/
.g-container {
  width: $gContainerWith;
  margin: 0 auto;
}


