@charset "UTF-8";

@import 'util/variable';
@import 'util/mixin';
@import 'lib/normalize';
@import 'reset';
@import 'icon';
@import 'widget/m-topMenu';
@import 'widget/m-article';

body{
  background-color: #f6f6f6;
}

.none{
  display: none !important;
}
.hidden{
  visibility: hidden !important;
}

/*外层容器*/
.g-container {
  width: $gContainerWith;
  margin: 0 auto;
}


